
* {
    padding: 0;
    margin: 0 ;
}

html {
    background-color: gray;

}


header {
    background-image: url('wayne-burger157.jpg');
    background-color: gray;
    width: 100%;
    height: 200px;
    color: white;
    margin-left: 300px;
    background-repeat: no-repeat;
    
}

#caixa {
    background-color: black;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    text-align: center;
    margin-left: 20px;
}

#text {
    margin-left: 200px;
    padding-top: 20px;
}

h2 {
    padding-top: 5px;
}

#RED {
    background-color: red;
    width: 140px;
    border-radius: 5px;
}

#burguer {
    margin-top: 30px;
}

.container {
    display: flex;
}

#moto, #casa {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    background-color: gray;
    border: 2px solid #000000;
}

#moto {
    display: flex;
    align-items: center;
    margin-top: 90px;
    background-color: white;
    width: 440px;
    height: 40px;
    border-radius: 5px;
    margin-left: 320px;
}

#tempo {
    background-color: #000000;
    color: white;
}

#tempim {
 
    color: white;
}

.material-symbols-outlined {
    font-size: 20px;
    margin-right: 10px;
}

#motinha {
    cursor: pointer;
}

#casa {
    margin-left: 20px;
    margin-top: 90px;
    display: flex;
    align-items: center;
    margin-top: 90px;
    background-color: white;
    width: 450px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
}

#casa i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

#promo {
    margin-left: 320px;
    color: white;
    margin-top: 50px;
    font-size: 25px;
    
}

#escolha {
    background-color: white;
    width: 950px;
    height: 440px;
    margin-left: 300px;
    margin-top: 20px;
 
 
}

img {
    float: left;
    margin-right: 20px; 
    /* Ajuste conforme necessário para o espaçamento entre a imagem e o texto */
}

#ped01 {
    margin-left: 20px; /* Adicione uma margem à esquerda para espaçamento entre a imagem e o texto */
    overflow: hidden; 
    padding-top: 50px;
    overflow: hidden; 
    padding-top: 90px;
    padding-top: 20px;
    

    
}
#quinta{
    float: left;
    margin-right: 500px;
    padding-top: 20px;

    width: 950px;
    height: 219px;
  
    
  
    
    
}
#COMBO{
  padding: 20px;
  font-size: 25px;

}
#fami{
   
    background-color: white;
    width: 950px;
    height: 920px;
    margin-left: 300px;
 
}
#pd03{
    margin-right: 500px;/* Adicione uma margem à esquerda para espaçamento entre a imagem e o texto */
   
    padding-top: 50px;
  
    padding-top: 160px;
   
 
}  

#pd04{
    margin-right: 500px;/* Adicione uma margem à esquerda para espaçamento entre a imagem e o texto */

    padding-top: 120px;
  
  
}
#pd05{
    margin-right: 500px;/* Adicione uma margem à esquerda para espaçamento entre a imagem e o texto */

    padding-top: 120px;
    
    

}
#refris{
    background-color: white;
    width: 950px;
    height: 400px;
    margin-left: 300px;
  
    
}
#batata{
    margin-right: 500px;/* Adicione uma margem à esquerda para espaçamento entre a imagem e o texto */

    padding-top: 190px;
    height: 30px;
    width: 970px;

   
}
#refris{
    margin-right: 500px;/* Adicione uma margem à esquerda para espaçamento entre a imagem e o texto */
    

 

}
#ba{
    padding-top: 60px;
 
    width: 950px;
}
#r{
    background-color: white;
    width: 950px;
    height: 600px;
    margin-left: 300px;
    
  
}
#rr{
    margin-right: 500px;/* Adicione uma margem à esquerda para espaçamento entre a imagem e o texto */
   
    padding-top: 40px;
    
    width: 950px;
  
}

#guarana{
    margin-right: 500px;/* Adicione uma margem à esquerda para espaçamento entre a imagem e o texto */
    width: 950px;
    padding-top: 40px;
    
}
#ck{
    height:200px;
}
#gu{
 
    height:32opx;
    
}
#PROMO{
    margin-left: 320px;
}

#burguer{
    background-color: #000000;
    color: white;
    margin-left: 1190px;
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 45px;
    margin-top: 70px;
}
#itens{
 background-color: white;
 color: black;
 width: 500px;
 height: 300px;
 margin-left: 750px;
 display: none;
 text-align: center;
 position: fixed;
 border: 1px solid black;
}
h4{
    padding-top: 20px;
    background-color: gray;
    color: white;
}
li{
    border: 1px solid black;
    height: 27px;
    margin-top: 1px;
    
}

  

